.analyzer_content { background-color: transparent; }

.analyzer_content #header { 
	font-size: 14px; }

.analyzer_content ul { background-color: transparent;}

.analyzer_content a { background-color: transparent;}


